@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Flemminggatan 102<br />
    112 45 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    070 773 73 7
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">garagesupport@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>