@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Vi erbjuder</h2>
        <p>
           När du parkerar hos oss hittar du ett säkert, välstädat, miljövänligtt garage som dessutom är kameraövervakat och bemannat dygnet runt. Vi har eluttag så att du kostnadsfritt kan tanka din elbil.
        </p>
        <p><a class="btn btn-default" href="../vehicles/Index">Lista parkerade bilar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Priser</h2>
        <p>Hos oss kan du parkera per timme, en hel dag eller per vecka.</p>
        <p>Pris per timme: 60kr<br>
        Pris per dag: 250kr <br>
        Pris per vecka: 800kr</p>
         
        <p><a class="btn btn-default" href="../vehicles/Index">Lista parkerade bilar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tilläggstjänster</h2>
        <p>Vi erbjuder biltvätt medan du står perkerad hos oss.<br />
        Du kan dessutom byta vinter och sommar däck.</p>
        <p><a class="btn btn-default" href="../vehicles/Index">Lista parkerade bilar &raquo;</a></p>
    </div>
</div>